<p-card>
    <div *ngIf="!editing" class=" col-12 flex card-container align-items-center justify-content-center gap-3">
        <div class="card flex flex-row">
            <div class="flex flex-1 p-4">
                <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px', 'margin-top':'2em' }"> 
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style=" max-height: 500px; width: auto; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>          
            <div class="flex flex-1 p-4">
                <div class="block">
                    <div class="flex justify-content-between">
                        <h1>{{ product.title }}</h1> 
                        
                        <button pButton pRipple label="Edit" (click)="edit()" icon="pi pi-pencil" class="p-button-text align-self-center h-3rem"></button>
                    </div>
                    <h3 class="font-normal">{{ product.brand }}</h3>
                    <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating>
                    <p>{{ product.description }}</p>
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{ " " + product.category }}</span>
                </div>
            </div>
        </div>  
    </div>

    <div *ngIf="editing" class=" col-12 flex card-container align-items-center justify-content-center gap-3">
        <div class="card flex flex-row">
            <div class="flex flex-1 p-4">
                <p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px', 'margin-top':'2em' }"> 
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style=" max-height: 500px; width: auto; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>          
            <div class="flex flex-1 p-4">
                <div class="block">
                    <div class="flex justify-content-between">
                        <input pInputText [(ngModel)]="title" placeholder="Title" /> 
                        <button pButton pRipple label="Confirm" (click)="confirm()" icon="pi pi-check" class="p-button-text align-self-center h-3rem"></button>
                    </div>
                    <h3 class="font-normal">{{ product.brand }}</h3>
                    <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating> <br>
                    <div>
                        <input pInputText [(ngModel)]="description" placeholder="Description" /> 
                    </div> <br>
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">{{ " " + product.category }}</span>
                </div>
            </div>
        </div>
    </div>

    <button pButton pRipple label="Remove" (click)="remove()" icon="pi pi-times" class="relative left-50 p-button-text align-self-center p-button-danger"></button>
    <p-messages *ngIf="messageShowing" [(value)]="message"></p-messages>
</p-card>

