<p-card>
    <div class="card col-5 block md:flex-row c">
        <p class="text-4xl font-bold m-5">Add new product</p>
        <div class="p-inputgroup m-5">
            <input pInputText [(ngModel)]="title" placeholder="Title" />
        </div>
        <div class="p-inputgroup m-5">
            <input type="number" [(ngModel)]="price" pInputText placeholder="Price" />
        </div>

        <div class="p-inputgroup m-5">
            <input type="text" [(ngModel)]="brand" pInputText placeholder="Brand" />
        </div>

        <div class="p-inputgroup m-5">
            <input type="text" [(ngModel)]="description" pInputText placeholder="Description" />
        </div>
        
        <p-button class="m-5" label="Submit" (click)="submitFrom()"></p-button>
    </div>

</p-card>

<p-messages [(value)]="message"></p-messages>



