<div class="card flex justify-content-start m-5">
    <p-orderList [value]="users" [listStyle]="{ 'max-height': '30rem' }" header="Pick user" (onSelectionChange)="selectedUser($event)">
        <ng-template let-user pTemplate="item">
            <div class="flex align-items-center p-2 w-full flex-wrap">
                <div class="w-full text-center lg:w-auto lg:text-left">
                    <img src="{{ user.image }}" [alt]="user.username" class="mr-3 shadow-3 w-7rem mb-3 lg:w-5rem lg:mb-auto" />
                </div>
                <div class="flex-1">
                    <h3 class="mb-2 font-bold">{{ user.username }}</h3>
                    <h5 class="font-semibold">{{ user.firstName + " " + user.lastName }}</h5>
                </div>
            </div>
        </ng-template>
    </p-orderList>

    
<div *ngIf="displaying" class="card">
    <p-table [value]="cartItems" [columns]="cols">
    <ng-template pTemplate="header">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.price | currency }}</td>

        <td>{{ item.subtotal | currency }}</td>
        <td>
          <button pButton type="button" label="Remove" icon="pi pi-times" ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
</div>

</div>
