<div class="card flex justify-content-start m-5">
    <div class="card flex justify-content-center m-5">
        <p-listbox [options]="users" [(ngModel)]="selected" optionLabel="name" (onChange)="change()" [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }">
            <ng-template let-user pTemplate="user">
                <div class="flex align-items-center gap-2">
                    {{user.username}}
                </div>
            </ng-template>
        </p-listbox>
    </div>

    <div *ngIf="!showing">
        <p class="m-5 text-2xl">Pick an user</p>
    </div>
    
    <div *ngIf="showing" class="card flex m-5">
        <p-table [value]="getCart(selected.id).products" [columns]="cols">
            <ng-template pTemplate="header">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price + "€" }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal | currency }}<button pButton type="button" label="Remove" icon="pi pi-times" (click)="remove()" ></button></td>
            </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton type="button" label="Remove" icon="pi pi-times" (click)="remove()" ></button>
            </ng-template>
        </p-table>
    </div>
</div>
<p-messages *ngIf="messageShowing" [(value)]="message"></p-messages>
